<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjoeun.ilsan.member.sql.MemberMapper">
	
	<insert id="insert" parameterType="Map">
		insert into member (
				id
				,pw
				,name
				,age
			) values (
				#{id}
				,#{pw}
				,#{name}
				,#{age}
			)
	</insert>
	
	<select id="select" parameterType="Map" resultType="Map">
		select seq
				,id
				,pw
				,name
				,age
				,create_date
		from member
		where 1 = 1
		and id = #{id}
		and pw = #{pw}
	</select>
	
</mapper>